extends ../layout

block title
	if (!event.i18n.title.get(locale))
		title= '####'
	else
		title= event.i18n.title.get(locale).toUpperCase()
	if (!event.i18n.description.get(locale))
	else
		meta(name='description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
		meta(property='og:description', content=event.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
	each image in event.images
		meta(property='og:image', content=image.thumb)

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/event.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/libs/css/jquery.fancybox.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/jquery.fancybox.js' + version)
	script(type='text/javascript', src='/build/js/fancybox.js' + version)
	//-script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/event.js' + version)

mixin compareInterval(start, end)
	if (start.getDate() == end.getDate() && start.getMonth() == end.getMonth() && start.getFullYear() == end.getFullYear())
		!= start.getDate() + ' ' + months[event.interval.start.getMonth()] + ' ' + start.getFullYear()
	else
		!= start.getDate() + ' ' + months[start.getMonth()] + ' ' + start.getFullYear() + ' - ' + end.getDate() + ' ' + months[end.getMonth()] + ' ' + end.getFullYear()


//-block content
	.content_title= event.i18n.title.get(locale)
	if (!event.interval.hidden)
		.content_date: +compareInterval(event.interval.start, event.interval.end)


	//-.content_subs= event.subsidiary && event.subsidiary.i18n.title.get(locale)

	//-.content_body: != event.i18n.description.get(locale)

	//-if (event.videos && event.videos.length == 1)
		.content_video_block
			each video in event.videos
				.content_video_item.important_video: != video
	//-else if (event.videos && event.videos.length > 1)
		.content_video_block
			each video in event.videos
				.content_video_item: != video

block content

	.screen_block.info_block
		.info_block_inner
			.content_navigate_block


				//-if (categorys.length > 0)
					.content_navigate_block.categorys
						.navigate_title= __('Категории:')
						.navigate_items_block
							each category in categorys
								.navigate_item(class=category._id.toString())= category.i18n.title.get(locale)

				//-.navigate_items_block
					.navigate_item.exhibition= __('Выставки')
					.navigate_item.lecture= __('Лекции')
					.navigate_item.action= __('Мероприятия')

		.goto_down
			a.goto_down_inner.info

	.screen_block.about_block
		.about_block_inner
			.about_block_image
				img(src='/images/design/photo.jpg')
			.about_text_inner
				if (locale == 'ru')
					include ../static/content/contacts/ru.html
				else
					include ../static/content/contacts/en.html
		.goto_down
			a.goto_down_inner.about

	.screen_block.contacts_block
		.about_block_inner
			.about_text_inner
				iframe(src='/auth/halls/add', width=700, height=760, frameborder=0, allowtransparency=1, scrolling=0)
			.social_block
				a.vk(href='https://vk.com/rossikhin')  
				a.fb(href='https://www.facebook.com/arseny.rossikhin') 
				a.inst(href='https://instagram.com/rossikhinarseny/')  
				a.shutterstock(href='http://www.shutterstock.com/g/Arseniy+Rossikhin')
		.goto_down
			a.goto_down_inner.about


	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	.content_title
		.content_title_inner= event.i18n.title.get(locale)
	.content_scroll_items
		each image in event.images.reverse()
			a.item_fancy(href=image.original, data-fancybox-group='image', style='background-image:url('+image.thumb+')')
				//- img(src=)
				//- - var description = get_locale(image.description, locale)
				//-if (description != '')
					.content_image_description: != description