extends ../layout

block title
	title= __('КАТАЛОГ') + ' | ' + catalogue.i18n.title.get(locale).toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/collect.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/collect.js' + version)
	script(type='text/javascript').
		var exhibits =!{JSON.stringify(souvenirs.map(function(souvenir) { return {'_id': souvenir._id, 'images': souvenir.images} }))}


block content
	.content_title= catalogue.i18n.title.get(locale)
	.content_body: != catalogue.i18n.description.get(locale)
	.content_outer_block
		each souvenir in souvenirs
			.content_item.exhibit(class=souvenir._id.toString())
				img.item_image(src=souvenir.images && souvenir.images.length > 0 && souvenir.images[0].thumb)
				.item_description
					.item_title= souvenir.i18n.title.get(locale)
					.item_body= souvenir.i18n.description.get(locale)

block content_up
	.exhibit_preview_block
		.exhibit_preview_inner
			.exhibit_images_preview_block
			.exhibit_description_block
				.exhibit_title
				.exhibit_body