extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ Альбом

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.js')
	script(type='text/javascript', src='/build/libs/js/jquery-ui-1.10.4.custom.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery.filedrop.js')
	script(type='text/javascript', src='/build/js/upload.js')
	script(type='text/javascript', src='/build/js/add.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/albums/') < Назад
		button.toggle_eng(type='button') перевод
		.title РЕДАКТИРОВАТЬ Альбом
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title', event)
			.form_title Описание:
			+form_text_multi('description', event)
			.form_title Категории:
			+form_multiple_select('categorys', categorys, event.categorys)
			.form_title Страна:
			+form_single_select('subsidiary', subsidiarys, event.subsidiary)
			.form_title Порядок
			select(name='status')
				option(value='') обычный
				option(value='important', selected=event.status == 'important') наоборот
				//-option(value='out', selected=event.status == 'out') в разделе
				//-option(value='hidden', selected=event.status == 'hidden') скрытый
			.form_title Статус:
			select(name='type')
				option(value='lecture', selected=event.type == 'lecture') Обычный
				option(value='exhibition', selected=event.type == 'exhibition') Очень большой
				option(value='excursion', selected=event.type == 'excursion') Большой
				//-option(value='action', selected=event.type == 'action') Мероприятие
				//-option(value='teach', selected=event.type == 'teach') Центр прикладной педагогики
				//-option(value='education', selected=event.type == 'education') Образовательные программы
			.form_title Дата альбома:
			+form_calendar('date', event.date)
			.form_title Дата начала альбома:
			+form_calendar('date_start', event.interval.start)
			.form_title Дата окончания альбома:
			+form_calendar('date_end', event.interval.end)
			br
			//-br
			input(type='checkbox', name='date_hidden', value='true', checked=event.interval.hidden, style='visibility:hidden')
			//-!=' скрыть дату'
			//-.form_title Видео:
			.videos_block(style='visibility:hidden')
				+form_multiple_input('videos')
			.form_title Изображения:
			+form_images_upload(event.images)
			br
			br
			input(type='submit', value='отправить')