extends ../../layout
include ../forms.jade

block title
	title РЕДАКТИРОВАТЬ АЛЬБОМ

block content_style
	link(rel='stylesheet', type='text/css', href='/build/libs/css/font-awesome.css')
	link(rel='stylesheet', type='text/css', href='/build/libs/css/wysiwyg-editor.css')
	link(rel='stylesheet', type='text/css', href='/build/css/add.css')

block content_scripts
	script(type='text/javascript', src='/build/libs/js/wysiwyg.js')
	script(type='text/javascript', src='/build/libs/js/wysiwyg-editor.js')
	script(type='text/javascript', src='/build/libs/js/jquery-ui-1.10.4.custom.min.js')
	script(type='text/javascript', src='/build/libs/js/jquery.filedrop.js')
	script(type='text/javascript', src='/build/js/upload.js')
	script(type='text/javascript', src='/build/js/add.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth/events/') < Назад
		.title РЕДАКТИРОВАТЬ АЛЬБОМ
		form(action="", method="post")
			.form_title Заголовок:
			+form_text_single('title', event)
			.form_title Описание:
			+form_text_multi('description', event)
			.form_title Категории:
			+form_multiple_select('categorys', categorys, event.categorys)
			.form_title Страна:
			+form_single_select('subsidiary', subsidiarys, event.subsidiary)
			//-.form_title Статус
			//-input(type='checkbox', name='status', value='important', checked=event.status)
			//-|важное
			.form_title Статус:
			select(name='type')
				option(value='lecture') Обычный
				option(value='excursion') Большой
				option(value='exhibition') Очень большой
				//-option(value='action', selected=event.type == 'action') Свадьбы
				//-option(value='xxi', selected=event.type == 'xxi') Пейзажи
			.form_title Дата начала:
			+form_calendar('date_start', event.interval.start)
			.form_title Дата конца:
			+form_calendar('date_end', event.interval.end)
			.form_title Изображения:
			.form_images_upload
				.form_desc_title Нажми или перетащи
				each image, i in event.images
					.image_upload_block
						.image_upload_preview(style='background-image:url(' + image.thumb + ')')
							.image_upload_delete Удалить
						textarea.image_upload_description(name='images[description][]')= image.description.filter(function(locale) { return locale.lg == 'ru' })[0].value
						input.image_upload_form(type='hidden', name='images[path][]', value=images_preview[i])
			br
			br
			input(type='submit', value='отправить')