extends ../layout
include ../events_list.jade

block title
	title= __('ГЦМСИР')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/events_subsidiary_after.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/main.js' + version)

block content
	.content_title= __('Историю создаете вы')
	a.content_banner(href= 'http://pobedaonline.ru/')
	.content_navigate_block.types
		.navigate_title= __('Наши последние события:')
		.navigate_items_block
			//- .navigate_item.excursion= __('Экскурсии')
			.navigate_item.exhibition= __('Выставки')
			.navigate_item.lecture= __('Лекции')
			.navigate_item.action= __('Мероприятия')
	if (categorys.length > 0)
		.content_navigate_block.categorys
			.navigate_title= __('Категории:')
			.navigate_items_block
				each category in categorys
					.navigate_item(class=category._id.toString())= category.i18n.title.get(locale)
	.content_outer_block
		.content_news_block
			each item in news
				a.content_item.news(href='/news/' + item._id)
					.item_title= item.i18n.title.get(locale)
					.item_date= item.date.getDate() + ' ' + months[item.date.getMonth()] + ' ' + item.date.getFullYear()
			a.content_item.news.content_news_goto(href= '/news/')= __('Перейти в новости')
		.content_events_block
			+eventsList(events)


block scroll
	.content_title= __('Государственный центральный музей современной истории России')
	.content_scroll_items
		each image in images
			.content_scroll_item
				img(src=image.path.thumb)
				.content_image_description= image.i18n.description.get(locale)