extends ../layout
include ../events_list.jade

block title
	title= __('ГЛАВНАЯ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/main.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/events_subsidiary_after.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/libs/css/jquery.fancybox.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/jquery.fancybox.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/main.js' + version)
	script(type='text/javascript', src='/build/js/fancybox.js' + version)

block content
	- ev_lnght = Math.floor(Math.random() * ((events.length - 1) - 0 + 1)) + 0

	.screen_block.intro_block
		.intro_block_background(style='background-image:url(' + events[ev_lnght].images[0].original + ')')
		.intro_block_inner
			.intro_block_image
				img(src='/images/design/logo_big.png')

	.screen_block.info_block
		.info_block_inner
			.content_navigate_block


				if (categorys.length > 0)
					.content_navigate_block.categorys
						.navigate_title= __('Категории:')
						.navigate_items_block
							each category in categorys
								.navigate_item(class=category._id.toString())= category.i18n.title.get(locale)

				.navigate_items_block
					.navigate_item.exhibition= __('Выставки')
					.navigate_item.lecture= __('Лекции')
					.navigate_item.action= __('Мероприятия')

		.goto_down
			a.goto_down_inner.info

	.screen_block.about_block
		.about_block_inner
			.about_block_image
				img(src='/images/design/photo.jpg')
			.about_text_inner
				if (locale == 'ru')
					include ../static/content/contacts/ru.html
				else
					include ../static/content/contacts/en.html
		.goto_down
			a.goto_down_inner.about

	.screen_block.contacts_block
		.about_block_inner
			.about_text_inner
				p.name= __('Арсений Россихин')
				p.phone +7 (925) 729-79-81
				p.email
					a(href="mailto:rossikhinarseny@mail.ru") rossikhinarseny@mail.ru

			input.form_block(placeholder="Ваше имя...")
			input.form_block(placeholder="E-mail...")
			textarea.form_block(placeholder="Сообщение...")
			.social_block
				a.vk(href='https://vk.com/rossikhin')  
				a.fb(href='https://www.facebook.com/arseny.rossikhin') 
				a.inst(href='https://instagram.com/rossikhinarseny/')  
				a.shutterstock(href='http://www.shutterstock.com/g/Arseniy+Rossikhin')
		.goto_down
			a.goto_down_inner.about

	.content_outer_block
		.content_outer_block_inner


			.content_outer_block
				.content_events_block
					+eventsList(events)





