extends ../layout

block title
	title= __('ЭКСПОЗИЦИЯ') + ' | ' + hall.i18n.title.get(locale).toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/hall.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/hall.js' + version)


block content
	.content_title= hall.i18n.title.get(locale)
	.content_s_title= hall.i18n.s_title.get(locale)
	.content_description: != hall.i18n.description.get(locale)
	.content_outer_block
		each exhibit in exhibits
			.content_item.exhibit
				img.item_image(src=exhibit.images && exhibit.images.length > 0 && exhibit.images[0].thumb)
				.item_description
					.item_title= exhibit.i18n.title.get(locale)


block scroll
	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	.content_title
	.content_scroll_items
		each image in hall.images
			.content_scroll_item
				img(src=image.thumb)
				- var description = get_locale(image.description, locale)
				if (description != '')
					.content_image_description: != description