extends ../layout

block title
	title= __('ЭКСПОЗИЦИЯ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/exposure.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/exposure.js' + version)


block content
	.content_title= __('Экспозиция')
	.content_outer_block
		each hall in halls
			a.content_item.hall(href='/exposure/' + hall._id)
				img.item_image(src=hall.images && hall.images.length > 0 && hall.images[0].thumb)
				.item_description
					.item_title= hall.i18n.title.get(locale)


block scroll
	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	.content_title= __('Государственный центральный музей современной истории России')
	.content_scroll_items
		each image in images
			.content_scroll_item
				img(src=image.path.thumb)
				- var description = get_locale(image.description, locale)
				if (description != '')
					.content_image_description= image.i18n.description.get(locale)