extends ../layout

block title
	title= __('НОВОСТИ') + ' | ' + news.i18n.title.get(locale).toUpperCase()
	meta(name='description', content=news.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
	meta(property='og:description', content=news.i18n.description.get(locale).replace(/<[^>]+>/g,' '))
	each image in news.images
		meta(property='og:image', content=image.thumb)

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/news_item.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/ya_share.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/news_item.js' + version)


block content
	.content_title= news.i18n.title.get(locale)
	.content_date= news.date.getDate() + ' ' + months[news.date.getMonth()] + ' ' + news.date.getFullYear()
	.content_body: != news.i18n.description.get(locale)

	if (news.videos && news.videos.length == 1)
		.content_video_block
			each video in news.videos
				.content_video_item.important_video: != video
	else if (news.videos && news.videos.length > 1)
		.content_video_block
			each video in news.videos
				.content_video_item: != video

	| <script type="text/javascript" src="//yastatic.net/share/share.js" charset="utf-8"></script><div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="vkontakte,facebook,twitter,gplus"></div>

block scroll
	- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
	.content_title
	.content_scroll_items
		each image in news.images
			.content_scroll_item
				img(src=image.thumb)
				- var description = get_locale(image.description, locale)
				if (description != '')
					.content_image_description: != description

