extends ../layout

block title
	title= __('ВАКАНСИИ И СТАЖИРОВКИ')

block content_style
	//- link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/vacancys.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/vacancys_mobile.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/vacancys.js' + version)

mixin trimString(str, length)
	if (str.length > length)
		span.body: != str.substr(0, length)
		span.etc ...
		span.hide= str.substr(length, str.length)
	- else
		span.body: != str


block content
	.content_title= __('Вакансии и стажировки')
	.content_outer_block
		each vacancy in vacancys
			a.content_item.officials.important(href='/vacancys/' + vacancy._id)
				.item_description
					.item_title= vacancy.i18n.title.get(locale)
					.item_body: +trimString(vacancy.i18n.description.get(locale).replace(/(<([^>]+)>)/ig, ''), 100)
					//- .item_date= item.date.getDate() + ' ' + months[item.date.getMonth()] + ' ' + item.date.getFullYear()

block scroll
	.content_title
	.content_scroll_items
		each image in images
			.content_scroll_item
				img(src=image.path.thumb)
				.content_image_description= image.i18n.description.get(locale)