extends ../layout

block title
	title= __('КОЛЛЕКЦИИ') + ' | ' + collect.i18n.title.get(locale).toUpperCase()

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/collect.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/collect.js' + version)
	script(type='text/javascript').
		var exhibits =!{JSON.stringify(exhibits.map(function(exhibit) { return {'_id': exhibit._id, 'images': exhibit.images} }))}


block content
	.content_title= collect.i18n.title.get(locale)
	.content_body: != collect.i18n.description.get(locale)
	.content_outer_block
		each exhibit in exhibits
			.content_item.exhibit(class=exhibit._id.toString())
				img.item_image(src=exhibit.images && exhibit.images.length > 0 && exhibit.images[0].thumb)
				.item_description
					.item_title= exhibit.i18n.title.get(locale)
					.item_body= exhibit.i18n.description.get(locale)

block content_up
	.exhibit_preview_block
		.exhibit_preview_inner
			.exhibit_images_preview_block
			.exhibit_description_block
				.exhibit_title
				.exhibit_body