extends ../layout

block title
	title= __('КОЛЛЕКЦИИ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/collects.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/libs/js/imagesloaded.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	script(type='text/javascript', src='/build/js/scroll.js' + version)
	script(type='text/javascript', src='/build/js/collects.js' + version)


block content
	.content_title= __('Коллекции')
	.content_outer_block
		each collect in collects
			a.content_item.collect(href='/collections/' + collect._id)
				img.item_image(src=collect.logo.path)
				.item_description
					.item_title= collect.i18n.title.get(locale)

block scroll
	.content_title= __('Государственный центральный музей современной истории России')
	.content_scroll_items
		each exhibit in exhibits
			img.content_scroll_item(src=exhibit.images[0].thumb)